/*
bp-largest: 75em;= //1200px
bp-large: 68.75em;= //1100px
bp-md: 56.25em;= //900px
bp-sm: 37.5em;= //600px
bp-sml: 31.25em;= //500px
*/


@media only screen and (max-width: 75em) {

    .container {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
    
}



@media only screen and (max-width: 68.75em) {

    .html {
        font-size: 50%;
    }
   
}

@media only screen and (max-width: 56.25em) {

    .content {
       flex-direction: column;
    }

    .side-nav {
        display: flex;
        margin: 0;
    }

    .side-nav__item{
        flex: 1;
    }

    .side-nav__item:not(:last-child) {
        margin: 0;
    }

    .side-nav_link:link,
    .side-nav_link:visited {
        justify-content: center;
    }

    .legal {
        display: none;
    }

    .detail {
        padding: 3rem;
    }

    .description {
        padding: 2rem;
        margin-right: 3rem;
    }

    .review {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    .cta {
        padding: 2.5rem 0;
    }
    
}

@media only screen and (max-width: 37.5em) {
    .side-nav_link:link,
    .side-nav_link:visited {
        flex-direction: column;
        padding: 1rem .5rem;
    }

    .side-nav__icon {
        margin-right: 0;
        margin-bottom: 7px;
        width: 1.5rem;
        height:1.5rem;
    }

    .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem;
    }

    .overview__rating {
        padding: 0 1.5rem;
    }
    
    .overview__rating-average {
        font-size: 1.8rem;
    }

    .overview__rating-count {
        font-size: .4rem;
    }

    .detail {
        flex-direction: column;
    }

    .description {
       margin-right: 0;
       margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 31.25em) {

    .header {
        flex-wrap: wrap;
        align-items: space-around;
        height: 11rem;
    }

    .search {
        order: 1;
        flex: 0 0 100%;
        background-color: #f4f2f2;
    }

    .side-nav_link:link,
    .side-nav_link:visited {
        flex-direction: column;
        padding: 1rem .5rem;
    }
   
}
  