:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
    
    --color-gray-light-1: #faf9f9;
    --color-gray-light-2: #f4f2f2;
    --color-gray-light-3: #f0eeee;
    --color-gray-light-4: #ccc;
    
    --color-gray-dark-1: #333;
    --color-gray-dark-2: #777;
    --color-gray-dark-3: #999;
}


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {  
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

body {
    font-family: 'open sans', sans-serif;
    background-color: #ff3366;
}

.container {
    max-width: 108rem;
    margin: 8rem auto;
    background-color: #f4f2f2;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    min-height: 50rem;

}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid #f4f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
}

.content {
    display: flex;

}

.sidebar {
    background-color: #333;

    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    
    flex: 1;
}

/*LOGO*/
 
.logo {
    height: 3.2rem;
    margin-left: 2rem;
}

/*SEARCH*/
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search__input {
   color: inherit;
   font-family: inherit;
   font-size: inherit;
   background-color: #f4f2f2;
   border: none;
   padding: .7rem 2rem;
   border-radius: 100px;
   -moz-border-radius: 100px;
   -ms-border-radius: 100px;
   -o-border-radius: 100px;
   -webkit-border-radius: 100px;
   width: 90%;
   transition: all .2s;
   -webkit-transition: all .2s;
   -moz-transition: all .2s;
   -ms-transition: all .2s;
   -o-transition: all .2s;
   margin-right: -3.25rem;
}

.search__input:focus {
    outline: none;
    width: 100%;
    background-color: #f0eeee;
}

.search__button-icon {
    height: 2rem;
    width: 2rem;
    fill: #999;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
}

.search__input:focus + search__button {
    background-color: #999;
}

.search__input:focus::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}
 
/*USER NAVIGATION*/
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-nav > *:hover {
  background-color: #f4f2f2;
}

.user-nav__icon {
    height: 2.2rem;
    width: 2.2rem;
    fill: #777;
    position: relative;
}

.user-nav__icon-box {
    position: relative;
}

.user-nav__user-photo {
    height: 3.7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1rem;
}

.user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    color: #fff;
    background-color:#eb2f64;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*SIDE NAVIGATION*/
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    
}

.side-nav__item {
   position: relative;

}

.side-nav__item:not(:last-child) {
    margin-bottom: .5rem;

    
    @media only screen and (max-width: 56.25em) {
        
    }
}

.side-nav__item::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 3px;
   background-color: #eb2f64;
   transform: scaleY(0);
   -webkit-transform: scaleY(0);
   -moz-transform: scaleY(0);
   -ms-transform: scaleY(0);
   -o-transform: scaleY(0);
   transition: transform .2s, width .4s cubic-bezier(1.0,0.1) .2s, background-color .1s;
   -webkit-transition: transform .2s, width .4s cubic-bezier(1.0,0.1) .2s, background-color .1s;
   -moz-transition: transform .2s, width .4s cubic-bezier(1.0,0.1) .2s, background-color .1s;
   -ms-transition: transform .2s, width .4s cubic-bezier(1.0,0.1) .2s, background-color .1s;
   -o-transition: transform .2s, width .4s cubic-bezier(1.0,0.1) .2s, background-color .1s;
}

.side-nav__item:hover::before,
.side-nav__item--active::before {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    width: 100%;
}

.side-nav__item--active::before {
    background-color: #eb2f64;
}

.side-nav_link:link,
.side-nav_link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    
}

.side-nav__icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 2rem;
    fill: currentColor;

    
}


/*legal*/
.legal {
    color: #ccc;
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    
}


/*GALLERY*/
.gallery {
    display: flex;
}

.gallery__photo {
    width: 100%;
    display: block;
}

/*HOTEL OVERVIEW*/
.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f2f2;
}

.overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

}

.overview__stars {
    margin-right: auto;
    display: flex;
}

.overview__icon-star,
.overview__icon-location-pin {
    width: 1.75rem;
    height: 1.75rem;
    fill: #eb2f64;
}

.overview__icon-location-pin {
    margin-right: .5rem;
}

.overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.overview__rating {
    background-color: #eb2f64;
    color: #fff;
    margin-left: 2rem;
    padding: 0 2.25rem;
    align-items: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
}

.overview__rating-count {
    font-size: .9rem;
    text-transform: uppercase;

}
/*BUTTON INLINE*/
.btn-inline {
    border: none;
    color: #eb2f64;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s;
    -webkit-transition: margin-left .2s;
    -moz-transition: margin-left .2s;
    -ms-transition: margin-left .2s;
    -o-transition: margin-left .2s;
}

.btn-inline:hover {
    color: #333;
}

.btn-inline:hover span {
    margin-left: 8px;
}

.btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite;
    -webkit-animation: pulsate 1s infinite;
}

@keyframes pulsate {
    0% {
       transform: scale(1);
       -webkit-transform: scale(1);
       -moz-transform: scale(1);
       -ms-transform: scale(1);
       -o-transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        box-shadow: none;
    }
}



.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom:  1px solid #f4f2f2;

}

.description { 
   background-color: #fff;
   box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
   padding: 3rem;
   flex: 0 0 60%;
   margin-right: 4.5rem;

}

.user-review {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*PARAGRAPH*/
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}


.list {
   list-style: none;
   margin: 3rem 0;
   padding: 3rem 0;
   border-top:  1px solid #f4f2f2;
   border-bottom:  1px solid #f4f2f2;

   display: flex;
   flex-wrap: wrap;
}

.list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
}

.list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: #eb2f64;
    -webkit-mask-image:  url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    webkit-mask-image:  url(../img/chevron-thin-right.svg);
    webkit-mask-size: cover;
}

.recommend {
    font-size: 1.3rem;
    color: #999;
    display: flex;
    align-items: center;
}

.recommend__count {
    margin-right: auto;

}

.recommend__photo {
    box-shadow: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1rem solid #fff;
}

.recommend__friends {
    display: flex;
}

.recommend__photo:not(:last-child) {
    margin-right: -2.1rem;
}


/*REVIEWs*/

.review {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

}

.review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1.7rem;
}

.review__user {
    display: flex;
    align-items: center;
}

.review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
    
}

.review__user-box {
    margin-right: auto;
}

.review__user-name {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .4rem;
}

.review__user-date {
    font-size: 1rem;
    color: #999;
}

.review__rating {
    color: #eb2f64;
    font-size: 2.2rem;
    font-weight: 300;
}

.review__rating::before {
    content: "\201C";
    position: absolute;
    color: #f4f2f2;
    top: -2rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    font-family: sans-serif;
    z-index: 1;

}

/*CALL TO ACTION*/
.cta {
    padding: 3.5rem 0;
    text-align: center;
}

.cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right,#ff3366,#ba265d);
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.btn__visible {
    display: inline-block;
    padding: 2rem 7.5rem;
}

.btn__invisible {
    
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;   
}

.btn:hover {
    background-image: linear-gradient(to left,#ff3366,#ba265d);
}

.btn:hover__visible {
   transform: translateY(100%);
   -webkit-transform: translateY(100%);
   -moz-transform: translateY(100%);
   -ms-transform: translateY(100%);
   -o-transform: translateY(100%);
}

.btn:hover__invisible {
    top: 0;
}

.btn:focus {
    outline: none;
    animation: pulsate 1s infinite;
    -webkit-animation: pulsate 1s infinite;
}

